extends ../layout
block content
    #main
      // START WRAPPER
      .wrapper
        include ../../public/includes/left_sidebar.jade
      // START CONTENT
      section#content
        // start container
        .container
          #profile-page.section
            // profile-page-header
            #profile-page-header.card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='/images/profile-cover.jpeg', alt='user background')
              .card-content
                .row
                  .col.s4.m6.offset-m3.offset-s5.center-align
                    h4.card-title.grey-text.text-darken-4 Welcome #{firstname}!
                    p.medium-small.grey-text e2e Username: #{username}
            // / profile-page-header
            // profile-page-content
            #profile-page-content.row
              .col.s12.m10.offset-m1.l10.offset-l1
                // Profile Info
                ul#task-card.collection.with-header
                  li.collection-header.cyan
                    h4.task-card-title Profile
                    p.task-card-date Here's your info
                  li.collection-item
                    .row
                      .col.s5.grey-text.darken-1
                        i.mdi-action-account-circle
                        |  Name
                      .col.s7.grey-text.text-darken-4.right-align #{fullname}
                  li.collection-item
                    .row
                      .col.s5.grey-text.darken-1
                        i.mdi-action-credit-card
                        |  e2e username
                      .col.s7.grey-text.text-darken-4.right-align #{email}
                  li.collection-item
                    .row
                      .col.s5.grey-text.darken-1
                        i.mdi-maps-local-taxi
                        |  Uber Connection
                      .col.s7.grey-text.text-darken-4.right-align #{uber}
                  li.collection-item
                    .row
                      .col.s5.grey-text.darken-1
                        i.mdi-maps-local-taxi
                        |  Lyft Connection
                      .col.s7.grey-text.text-darken-4.right-align No 
      // FOOTER
      include ../../public/includes/footer.jade
      // JS Scripts
      include ../../public/includes/scripts.jade
