extends ../layout
block content
	#main
		// START WRAPPER
		.wrapper
			include ../../public/includes/left_sidebar.jade
		section#content
			// start container
			.container
				form(action="/trips/edit/#{trip.id}", method="POST")
					.row
						.col.s12.m6.l6
							.card
								.card-move-up.teal.waves-block.waves-light
									.move-up
										h5.margin.white-text Start Location
										input#origin-input.controls(type='text', name='origin_address', value='#{trip.origin_formatted_address}')
						.col.s12.m6.l6
							.card
								.card-move-up.teal.waves-block.waves-light
									.move-up
										h5.margin.white-text Destination Location
										input#destination-input.controls(type='text', name='destination_address', value='#{trip.destination_formatted_address}')
										.input-field.col.s12
						.row
							.container
								.input-field.col.s12.m6.l6.no-margin-no-padding
									input#destination-input.controls(type='text', name='trip_name', placeholder='#{trip.trip_name}')
								.input-field.col.s5.m4.l4
									select#mode(name='transit_mode')
										option(value='', disabled='', selected='') #{trans_method}
										option(value='DRIVING', id='changemode-driving') Driving
										option(value='WALKING', id='changemode-walking') Walking
										option(value='BICYCLING', id='changemode-bicycling') Bicycling
										option(value='DRIVING', id='changemode-uber') Uber
										option(value='TRANSIT', id='changemode-transit') Transit
									label 
								.col.s2.m1.l1
									a#getDirections.btn-floating.valign.btn-large.waves-effect.waves-light.cyan
										i.mdi-maps-directions
								.col.s2.m1.l1
									button#saveTrip.btn-floating.valign.btn-large.waves-effect.waves-light.light-green(type="submit")
										i.mdi-content-save
						//- button#showTraffic traffic
						//- button#showTransit transit
						//- button#showBike bike	

				.col.s12.m6.l6
					#jon_map.edit-trips-map.mobile-map
			// FOOTER
			include ../../public/includes/footer.jade
			// JS Scripts
			include ../../public/includes/scripts.jade
			script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB9xEAcDm6FwY9iDrdBRVsXhowU9FbDIao&libraries=places&callback=initMap', async='', defer='')
