extends ../layout
block content
	#main
		// START WRAPPER
		.wrapper
			include ../../public/includes/left_sidebar.jade
		section#content
			// start container
			.container
				// card widgets start
				#card-widgets
					.row
						each trip in trips
							.col.s12.m6.l4
								#flight-card.card

									case trip.transit_method_id
										when '303'
											.card-header.black
												.card-title
													h4.flight-card-title= trip.trip_name
													p.flight-card-date= trip.created_at
											.card-content-bg.white-text
												.card-content
													a.btn-floating.activator.btn-move-up.waves-effect.waves-light.light-green.right
														i.mdi-action-info
													a.btn-floating.btn-move-up.waves-effect.waves-light.cyan.right(href="/trips/edit/#{trip.id}")
														i.mdi-image-edit
													a.btn-floating.btn-move-up.waves-effect.waves-light.red.accent-2.right
														i.mdi-action-favorite

													.row.flight-state-wrapper
														.col.s5.m5.l5.center-align
															.flight-state.center-align
																h5.margin= trip.origin_name
																p.small
														.col.s2.m2.l2.center-align
															case trip.transit_method_id
																when '300'
																	i.mdi-maps-directions-car.large
																when '303'
																	i.mdi-maps-local-taxi.large

														.col.s5.m5.l5.center-align
															.flight-state
																h5.margin= trip.destination_name
																p.small
													.row
														.col.s6.m6.l6.center-align
															.flight-info
																p.small
																	span.grey-text.text-lighten-4 Origin:
																p.small
																	span.grey-text.text-lighten-4= trip.origin_formatted_address

														.col.s6.m6.l6.center-align.flight-state-two
															.flight-info
																p.small
																	span.grey-text.text-lighten-4 Destination:
																p.small
																	span.grey-text.text-lighten-4= trip.destination_formatted_address												
												// begin time chart
												.card-content.black
													a.btn-floating.btn-move-up.waves-effect.waves-light.darken-2.right
														i.mdi-content-add.activator
													.line-chart-wrapper
														p.margin.white-text Trip Duration History (with traffic)
														canvas.maps_time_estimate_line_chart(id="trip-#{trip.id}-time-line-chart", height='114')
												.card-reveal
													span.card-title.grey-text.text-darken-4
														| Trip Duration History (with traffic) 
														i.mdi-navigation-close.right
													table.responsive-table
														thead
															tr
																th(data-field='country-name') Country Name
																th(data-field='item-sold') Item Sold
																th(data-field='total-profit') Total Profit
														tbody
															tr
																td USA
																td 65
																td $452.55
															tr
																td UK
																td 76
																td $452.55
															//- end time chart

										when '300'
											.card-header.cyan
												.card-title
													h4.flight-card-title= trip.trip_name
													p.flight-card-date= trip.created_at
											.card-content-bg.white-text
												.card-content
													a.btn-floating.activator.btn-move-up.waves-effect.waves-light.light-green.right
														i.mdi-action-info
													a.btn-floating.btn-move-up.waves-effect.waves-light.cyan.right(href="/trips/edit/#{trip.id}")
														i.mdi-image-edit
													a.btn-floating.btn-move-up.waves-effect.waves-light.red.accent-2.right
														i.mdi-action-favorite
													.row.flight-state-wrapper
														.col.s5.m5.l5.center-align
															.flight-state.center-align
																h5.margin= trip.origin_name
																p.small
														.col.s2.m2.l2.center-align
															case trip.transit_method_id
																when '300'
																	i.mdi-maps-directions-car.large
																when '303'
																	i.mdi-maps-local-taxi.large

														.col.s5.m5.l5.center-align
															.flight-state
																h5.margin= trip.destination_name
																p.small
													.row
														.col.s6.m6.l6.center-align
															.flight-info
																p.small
																	span.grey-text.text-lighten-4 Origin:
																p.small
																	span.grey-text.text-lighten-4= trip.origin_formatted_address

												// begin time chart
												.card-content.cyan
													a.btn-floating.btn-move-up.waves-effect.waves-light.darken-2.right
														i.mdi-content-add.activator
													.line-chart-wrapper
														p.margin.white-text Trip Duration History (with traffic)
														canvas.maps_time_estimate_line_chart(id="trip-#{trip.id}-time-line-chart", height='114')
												.card-reveal
													span.card-title.grey-text.text-darken-4
														| Trip Duration History (with traffic) 
														i.mdi-navigation-close.right
													table.responsive-table
														thead
															tr
																th(data-field='country-name') Country Name
																th(data-field='item-sold') Item Sold
																th(data-field='total-profit') Total Profit
														tbody
															tr
																td USA
																td 65
																td $452.55
															tr
																td UK
																td 76
																td $452.55
															//- end time chart

										//-  walking
										when '301'
											.card-header.light-green
												.card-title
													h4.flight-card-title= trip.trip_name
													p.flight-card-date= trip.created_at
											.card-content-bg.white-text
												.card-content
													a.btn-floating.activator.btn-move-up.waves-effect.waves-light.light-green.right
														i.mdi-action-info
													a.btn-floating.btn-move-up.waves-effect.waves-light.cyan.right(href="/trips/edit/#{trip.id}")
														i.mdi-image-edit
													a.btn-floating.btn-move-up.waves-effect.waves-light.red.accent-2.right
														i.mdi-action-favorite
													.row.flight-state-wrapper
														.col.s5.m5.l5.center-align
															.flight-state.center-align
																h5.margin= trip.origin_name
																p.small
														.col.s2.m2.l2.center-align
															case trip.transit_method_id
																when '300'
																	i.mdi-maps-directions-car.large
																when '303'
																	i.mdi-maps-local-taxi.large

														.col.s5.m5.l5.center-align
															.flight-state
																h5.margin= trip.destination_name
																p.small
													.row
														.col.s6.m6.l6.center-align
															.flight-info
																p.small
																	span.grey-text.text-lighten-4 Origin:
																p.small
																	span.grey-text.text-lighten-4= trip.origin_formatted_address

														.col.s6.m6.l6.center-align.flight-state-two
															.flight-info
																p.small
																	span.grey-text.text-lighten-4 Destination:
																p.small
																	span.grey-text.text-lighten-4= trip.destination_formatted_address
										//- Bicycling
										when '302'
											.card-header.deep-purple
												.card-title
													h4.flight-card-title= trip.trip_name
													p.flight-card-date= trip.created_at
											.card-content-bg.white-text
												.card-content
													a.btn-floating.activator.btn-move-up.waves-effect.waves-light.light-green.right
														i.mdi-action-info
													a.btn-floating.btn-move-up.waves-effect.waves-light.cyan.right(href="/trips/edit/#{trip.id}")
														i.mdi-image-edit
													a.btn-floating.btn-move-up.waves-effect.waves-light.red.accent-2.right
														i.mdi-action-favorite
													.row.flight-state-wrapper
														.col.s5.m5.l5.center-align
															.flight-state.center-align
																h5.margin= trip.origin_name
																p.small
														.col.s2.m2.l2.center-align
															case trip.transit_method_id
																when '300'
																	i.mdi-maps-directions-car.large
																when '303'
																	i.mdi-maps-local-taxi.large
																when '302'
																	i.mdi-maps-local-bike.large

														.col.s5.m5.l5.center-align
															.flight-state
																h5.margin= trip.destination_name
																p.small
													.row
														.col.s6.m6.l6.center-align
															.flight-info
																p.small
																	span.grey-text.text-lighten-4 Origin:
																p.small
																	span.grey-text.text-lighten-4= trip.origin_formatted_address

														.col.s6.m6.l6.center-align.flight-state-two
															.flight-info
																p.small
																	span.grey-text.text-lighten-4 Destination:
																p.small
																	span.grey-text.text-lighten-4= trip.destination_formatted_address
												// begin time chart
												.card-content.deep-purple
													a.btn-floating.btn-move-up.waves-effect.waves-light.darken-2.right
														i.mdi-content-add.activator
													.line-chart-wrapper
														p.margin.white-text Trip Duration History (with traffic)
														canvas.maps_time_estimate_line_chart(id="trip-#{trip.id}-time-line-chart", height='114')
												.card-reveal
													span.card-title.grey-text.text-darken-4
														| Trip Duration History (with traffic) 
														i.mdi-navigation-close.right
													table.responsive-table
														thead
															tr
																th(data-field='country-name') Country Name
																th(data-field='item-sold') Item Sold
																th(data-field='total-profit') Total Profit
														tbody
															tr
																td USA
																td 65
																td $452.55
															tr
																td UK
																td 76
																td $452.55
															//- end time chart

			// FOOTER
			include ../../public/includes/footer.jade
			// JS Scripts
			include ../../public/includes/scripts.jade
			script(src="/js/chartingControllers/tripsGoogleMapsChartController.js")
